
<br>

<div style="background-color: #ffff645e; padding: 1.5em; margin-bottom: 1em;">
  <p><b>{{ .Title }}</b> is part of <a href="https://gumroad.com/l/junior2senior">Junior2Senior</a> a course to help you grow as software engineers.</p>
  <p>It is about unloading all the knowledge that I accumulate over my career to younger engineers to help speed up their own career.</p>
  <p> You can follow me on twitter as well 
    <a href="https://twitter.com/DigianPaul?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-dnt="true" data-show-count="false">Follow @DigianPaul</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </p>
  <p>The book is actually on pre-sale 50% off for only 19$.</p>
  <script async src="https://gumroad.com/js/gumroad.js"></script>
  <div style="text-align: center;">
    <a class="gumroad-button" href="https://gum.co/HjDwM" target="_blank">Buy Junior2Senior</a>
  </div>
</div>
