
<br>

<div style="background-color: #ffff645e; padding: 1.5em; margin-bottom: 1em;">
  <p><b>{{ .Title }}</b> is part of <a href="https://gumroad.com/l/junior2senior">Junior2Senior</a> a course to help you grow as software engineers.</p>
  <p>It is about unloading all the knowledge that I accumulate over my career to younger engineers to help speed up their own career.</p>
  <p>The book is actually on pre-sale 50% off for only 19$.</p>
  <script src="https://gumroad.com/js/gumroad.js"></script>
  <div style="text-align: center;">
    <a class="gumroad-button" href="https://gum.co/HjDwM" target="_blank">Buy Junior2Senior</a>
  </div>
   <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1912938&conversionId=2134425&fmt=gif" /> 
</div>
