<!-- Include the head/header -->
{{ partial "header.html" . }}

<header class="homepage-header">
  <h1>{{.Title}}</h1>
  {{ with .Params.subtitle }}
  <span class="subtitle">{{.}}</span>
  {{ end }}
</header>
<div class="homepage-content">
  <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
  {{.Content}}
</div>

<!-- Content goes here -->
<div id="content">
{{ range $index, $page := (.Paginate (where (where .Site.RegularPages "Type" "in" site.Params.mainSections) ".Params.hidden" "!=" "true" )).Pages }}
{{ if ne $index 0 }}
{{ end }}
{{ .Render "li" }}
{{ end }}
{{ partial "pagination.html" .Paginator }}
</div>

{{ partial "signup.html" .}}

<!-- Include the site info and footer -->
{{ partial "footer.html" . }}
